.video {
  padding: 95px 0 75px;
}

.video__video-player {
  margin: 0 0 40px 0;
}

.video-player__video-container {
  position: relative;
  padding: 0 0 43.7% 0;
}

.video-player__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-player__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  background-image: url(../../../assets/svg/video-player/08.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.video__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  flex: 1 1 50%;
  color: $color-title;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.video__article {
  flex: 1 1 50%;
  margin: 0;
  line-height: 3.8rem;
}
