.tickets {
  padding: 75px 0;
  background-color: $color-bg;
}

.tickets__title {
  position: relative;
  margin: 0 0 76px 0;
  padding: 0 0 27px 0;
}

.tickets__row {
  display: flex;
  justify-content: space-between;
}

.tickets__img-container {
  position: relative;
  flex: 1 1 100%;
  padding: 0 0 38.2% 0;
  max-width: 720px;
}

.tickets__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/tickets-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tickets__tickets-form {
  padding: 0 0 0 60px;
}
