.welcome {
  position: relative;
  background-color: $color-bg;
}

.welcome__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  max-width: 1215px;
  max-height: 760px;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/welcome-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.welcome__column {
  position: relative;
  z-index: 1;
  max-width: 598px;
  padding: 115px 0 270px 0;
}

.welcome__title {
  margin: 0 0 26px 0;
}

.welcome__article {
  @include font(2.8rem, 3.3rem, $weight: 300, $style: normal);
  @extend %font-primary;
  margin: 0 0 102px 0;
  letter-spacing: 2px;
  color: $color-light;
}
