$color-title: #9d8665;
$color-additional: #710707;
$color-bg: #030303;
$color-accent: #caaa7d;
$color-light: #fff;

$content-width: 1470px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
