.header {
  padding: 65px 0;
  color: #fff;
  background-color: $bg-dark-color;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {}

.logo {}

.logo__icon {
  display: inline-block;
  margin-right: 12px;
  width: 100%;
  width: 49px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo__text {
  font-family: Forum;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__nav {}

.menu {
  max-width: 756px;
  width: 100%;
  font-weight: 200;
  letter-spacing: 2px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {}

.menu__link {}

.menu__link:hover {
  color: $font-gold-color;
}